.containerMargin
{
    margin-bottom: 30px;
}
.link
{
    text-decoration: none;
    color: #ffffea;
}
.loginBox
{
    background-color: #403f41;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.link
{
    text-decoration: none;
    color: #ffffea;
}
.leftAlign
{
    padding-top: 30px;
    padding-left: 85px;
}
.flex
{
    display: flex;
    align-items: flex-start;
}
.flexLeftLarger
{
    flex: 0 0 72%;
}
.flexLeft
{
    flex: 0 0 40%;
}
.flexRight
{
    flex: 1;
}
.marginTop
{
    margin-top: 20px;
}
.errorField
{
    position: relative;
}
.error
{
    text-align: right;
    color: #fc3632;
    background: #403f41;
    position: absolute;
    right: -300px;
    top: 0px;
    padding: 10px;
    padding-right: 30px;
    margin: 0;
    border-radius: 0 15px 15px 0;
    width: 200px;
}

.select
{
    font-size: 20px;
    background: #282828;
    padding: 10px;
    min-width: 300px;
    border: #ffffea 3px solid;
    color: #ffffea;
    margin: auto;
    margin-top: 50px;
    margin-right: 90px;
}
