.sidebar
{
    background: #403f41;
    border: #ffffea 3px solid;
    border-radius: 10px;
    width: 300px;
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.displayImg
{
    width: 30px;
    height: 30px;
    border: 1px #ffffea solid;
    border-radius: 30px;
    margin-right: 10px;
}
.title
{
    font-size: 20px;
    padding: 10px;

}
.select
{
    padding: 0;
    margin-right: 0;
}
.option
{
    border-radius: 0;
    display: block;
}
.option:hover
{
    background: #0c0032;
}