.sidebar
{
    background: #190061;
    border: #ffffea 3px solid;
    border-radius: 10px;
    width: 340px;
    margin-top: 60px;
}
.displayImg
{
    width: 30px;
    height: 30px;
    border: 1px #ffffea solid;
    border-radius: 30px;
    margin-right: 10px;
}
.title
{
    font-size: 20px;
    padding: 10px;

}
.select
{
    padding: 0;
    margin-right: 0;
}
.option
{
    border-radius: 0;
    display: block;
}
.option:hover
{
    background: #3500D3;
}