.downvote
{
    font-size: 20px;
    background: none;
    border: none;
    color: #ffffea;
}
.downvote:focus
{
    color: #3500d3;
}
.count
{
    display: inline;
    font-size: 18px;
    margin-right: 10px;
}